.footer {
  padding: 80px 10px 20px;
  background-color: #FAFAFA;
}

@media (min-width: 768px) {
  .footer{
    padding: 59px 30px 20px;
  }
}

@media (min-width: 1280px) {
  .footer{
    padding: 79px 70px 20px;
  }
}

.footer__project-info {
  margin: 0 0 30px;
  padding: 0 0 21px;
  border-bottom: 1px solid #E8E8E8;
  color: #A0A0A0;
  text-align: center;
  font-size: 12px;
}

@media (min-width: 768px) {
  .footer__project-info{
    margin: 0 0 20px;
    font-size: 13px;
  }
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .footer__wrapper {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.footer__links-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 30px;
  padding: 0;
  list-style: none;
}

@media (min-width: 768px) {
  .footer__links-list {
    margin: 0;
    flex-direction: row;
    justify-content: space-between;
    order: 2;
  }
}

.footer__link {
  display: block;
  margin: 0 0 12px;
  color: #000;
  font-size: 13px;
  text-decoration: none;
  letter-spacing: -0.72px;
  font-feature-settings: 'clig' off, 'liga' off;
}

@media (min-width: 768px) {
  .footer__link {
    font-size: 13px;
    margin: 0 20px 0 0;
    letter-spacing: initial;
  }
}

.footer__links-list > li:last-child > a {
  margin: 0;
}

.footer__copyright {
  margin: 0;
  font-size: 12px;
  font-feature-settings: 'clig' off, 'liga' off;
}

@media (min-width: 768px) {
  .footer__copyright {
    font-size: 13px;
  }
}
